html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url("/images/bgimg.jpg"); -> nie działa na pascalu :( */
    background: rgb(177,203,179);
    background: linear-gradient(90deg, rgba(177,203,179,1) 0%, rgba(164,173,132,1) 21%, rgba(130,105,105,1) 100%); 
    font-size: large;
}

h2{
    text-align: center;
    margin-top: 8%;
    font-size: 30px;
    font-style: italic;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    opacity:0.9;
}

nav ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    
}

nav ul li {
    display: inline;
    padding:20px;
    margin-left: 20px;
    margin-right: 50px;
    border-radius: 16%;
    border-color: bisque;
}

nav ul li:hover {
    font-style:bold;
    opacity:0.7;
    background-color:darkgray;
    transition:0.4s;
}


div #dataDiv{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}


#connectionStatus {
    position: fixed;
    bottom: 80px;

}

#statusInfo{
    display: inline;
}

form{
    background-color: rgba(250, 235, 215,0.6);
    display:inline-block;
    text-align: left;
    border-radius: 5%;
}

#inputDiv{
    display:block;
}
